@import '../abstract/variaveis&funções';

.footer {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 80px;
    top: 150px;
    .enviar {
        @include padraoBotoes;
    }
    .apagar {
        @include padraoBotoes;
    }
    .posicaoMensagem {
        bottom: 80px;
        position: relative;
        right: 220px;
    
    }
    .footer_texto {
        color: whitesmoke;
       font-family: $fonte;
       font-size: $tamanhoFonte *2;
    }
    
}
