@import '../abstract/variaveis&funções';



.frases {
    @include estiloFrases;
    left: 550px;
    position: relative;
    top: 60px;  
}

.estiloTexto {
    color: whitesmoke;
    font-family: $fonte;
    font-size: $tamanhoFonte *3 ;
    text-shadow: 4px 4px 4px black;
    margin-top: 100px;
    text-align: center;
}

.botoes {
    left: 620px;
    position: relative;
    top: 80px;


.frasesProximo {
    @include padraoBotoes;
    margin-right: 30px;
}

.frasesAnterior {
    @include padraoBotoes;
}
}