
$corDeFundo: rebeccapurple;
$fonte: 'Tangerine', serif;
$tamanhoFonte: 1rem;


@mixin botoesTrilha {
    border: 1px solid transparent;
    margin-left: 50px ;
    margin-top: 20px;
    padding: 6px;
}


@mixin estiloFrases {
    border: 3px solid red;
    border-radius: 30px 0px  30px 0px;
    height: 350px;
    width: 330px;
}
    

@mixin padraoBotoes {
    border: 2px double purple;
    background-color: purple;
    color: whitesmoke;
    font-family: $fonte;
    font-size: $tamanhoFonte *2;
    padding: 5px;
}